body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo\ div.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  
  
}

nav {
  
  background-image: linear-gradient(20deg, #cdb184 0, #caa87c 12.5%, #c49b6f 25%, #bb8b5f 37.5%, #af764c 50%, #a2613b 62.5%, #99502f 75%, #924228 87.5%, #8f3827 100%);
}

#Hero-Section p{

 color: white;
 opacity: 100%;
}

div a{
  text-decoration: none;
  color: white;
}

div a:hover{
  color: white;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background{
  background-color: #a56028;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

footer a{
  color: white;
  text-decoration: none;
  float: right;
}

footer a:hover{
  color: rgb(255, 0, 0);
}